<div class="banner">
  <div class="container">
    <div class="row">
      <h1 class="contenido-banner-bio">Contactos</h1>
    </div>
  </div>
</div>
<div class="container" style="height:auto">
  <div class="texto">
    Escríbenos un mensaje llenando el formulario con tus datos personales
  </div>
  <div class="row">
    <div class="col-md-6">
      <section class="form-register">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
        <input class="controls" type="number" name="telefono" id="telefono" placeholder="Ingrese su telefono">
        <textarea  class="controls"cols="53" rows="4" placeholder="Ingrese su mensaje"></textarea>
        <input class="botons" type="submit" value="Registrar">
      </section>
    </div>
    <div class="col-md-6">
      <img src="/assets/images/contacto/mrJoy.png" alt="" class="img-fluid2">
    </div>
  </div>
</div>
<br>
