<section class="container">
    <div class="wrapper-main center relative">
        <h1><b>Términos y Condiciones</b> </h1>
        <div class="info">
            <h2>Condiciones de Uso</h2>
            <p>El presente canal de servicio busca la comodidad del usuario que se obliga a cumplir y respetar
                las
                presentes reglas y que asume todo tipo de consecuencias que su indebido uso pudiere ocasionar.
            </p>
            <h2>Términos y Condiciones</h2>
            <p>Al momento de entrar a www.mrjoy.pe usted acepta que está usando el sitio web de Atracciones
                Active Fun Diversion S.A bajo su exclusiva responsabilidad y riesgo.</p>
            <p>Los usuarios admiten haber leído, y estar de acuerdo con los términos de uso y cumplirlos. De no
                ser
                así los usuarios deben abstenerse de usar este sitio.</p>
            <p>Este sitio web es controlado por Active Fun Diversion S.A desde su oficina principal ubicada en
                Lima. Active Fun Diversion S.A excluye cualquier responsabilidad por los daños y perjuicios de
                toda naturaleza que puedan deberse a la falta de disponibilidad o de continuidad del
                funcionamiento
                del sitio, a la defraudación de la utilidad que los usuarios hubieren podido atribuir al Portal
                y a
                los servicios, a la falibilidad del sitio. No garantiza que el uso de este sitio web no presente
                interrupciones, ni tendrá errores.</p>
            <p>www.MrJoy.pe advierte a sus clientes que la información de este sitio web puede contener errores
                o inexactitudes, no estar completa o actualizada. Por ello, Active Fun Diversion S.A se
                reserva el derecho de corregir cualquier error, omisión o inexactitud, cambiar o actualizar la
                misma
                en cualquier momento y sin previo aviso. Ofrecemos disculpas por cualquier inconveniente que
                esto
                pueda causar.</p>
            <p>Active Fun Diversion S.A se reserva el derecho de realizar cambios en el sitio web, en las
                condiciones de uso y en las notificaciones legales en cualquier momento.</p>
            <p>Si no está satisfecho con el sitio web de Active Fun Diversion S.A su contenido y las
                condiciones de uso, usted acepta que la única solución disponible es dejar de utilizar el sitio
                web
                de Active Fun Diversion S.A</p>
            <h2>Misión</h2>
            <p>Mr Joy Perú es una empresa de servicios para el entretenimiento familiar, que busca estar
                permanentemente en sintonía con los deseos y necesidades de sano esparcimiento de sus clientes,
                mediante el diseño, producción, comercialización, implementación y administración de parques de
                diversión que generen ambientes entretenidos, sanos y constructivos.</p>

            <h2>Derechos de Propiedad Intelectual</h2>
            <p>Todo el material informático, gráfico, publicitario, fotográfico y de diseño, así como todos los
                contenidos, y textos puestos a su disposición en este sitio son de propiedad exclusiva de
                Active Fun Diversion S.A o de terceros que han autorizado su uso.</p>
            <p>Todos los contenidos en www.MrJoy.pe están protegidos por las normas sobre derechos de autor,
                marcas y por todas las normas nacionales e internacionales que le sean aplicables.</p>
            <p>Queda prohibido todo acto de copia, modificación, creación de trabajos derivados, de ninguna
                manera o
                por ningún medio del material antes mencionado. Cualquier uso no autorizado de los contenidos
                obedecerá a una violación a los presentes términos y condiciones y a las normas vigentes sobre
                marcas, derechos de autor y otras normas de propiedad intelectual tanta nacional e
                internacionales
                aplicables.</p>
            <h2>Propiedad Industrial</h2>
            <p>Todas las marcas, logos, nombres y cualquier otro signo distintivo, así como demás elementos de
                propiedad industrial usados en este sitio, son propiedad exclusiva de Active Fun Diversion S.A y
                en
                algunos casos son de propiedad de terceros que han autorizado expresamente a Active Fun
                Diversion S.A
                para
                su uso.</p>
            <h2>Productos y/o servicios</h2>
            <p>Es política de Active Fun Diversion S.A la actualización y revisión constante de los productos y
                servicios
                que se exhiben en este sitio.</p>
            <p>Active Fun Diversion S.A puede modificar y descontinuar productos o servicios en cualquier
                momento y sin
                previo aviso.</p>
            <p>Active Fun Diversion S.Ase reserva el derecho de modificar sin previo aviso y por cualquier
                razón, los
                precios o características de sus productos o servicios.</p>
            <p>Active Fun Diversion S.A no controla ni garantiza, y por lo tanto no se hace responsable por, la
                ausencia
                de virus ni de otros elementos en los contenidos del sitio que puedan producir alteraciones en
                el
                sistema informático (software y hardware) del usuario o en los documentos electrónicos y
                ficheros
                almacenados en el sistema informático del usuario.</p>
            <p>Estos Términos y Condiciones han sido dispuestos de conformidad con las leyes peruanas.</p>
            <p>Estos Términos y Condiciones están sujetos a cambios sin previo aviso, bajo la sola voluntad de
                Active Fun Diversion S.A y a partir de la fecha de modificación.</p>
        </div>
    </div>
</section>
