<div class="banner">
    <div class="container">
        <div class="row">
            <h1 class="contenido-banner-bio">Tickets</h1>
        </div>
    </div>
</div>
<div class="container text-center">
    <br />
    <h2 class="text-center">Compra de Entradas</h2>
    <p class="text-center">Pago Unico con tarjeta</p>
    <hr />

    <img src="/assets/images/entradas/venta.png" alt="" class="img-fluid">

    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="tarjeta">
                    <img src="/assets/images/entradas/entrada 3.png" alt="" class="img-fluid">
                    <div class="cont-tarjeta text-center">
                        <h3>Comprar</h3>
                    </div>
                </div>
                <p >Joy Star 90 Min. <br />
                    S/16.00 </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="tarjeta">
                    <img src="/assets/images/entradas/entrada 2.png" alt="" class="img-fluid">
                    <div class="cont-tarjeta text-center">
                        <h3>Comprar</h3>
                    </div>
                </div>
                <p >Joy Star 90 Min. <br />
                    S/20.00 </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tarjeta">
                <img src="/assets/images/entradas/entrada 1.png" alt="" class="img-fluid">
                <div class="cont-tarjeta text-center">
                    <h3>Comprar</h3>
                </div>
            </div>
            <p >Visitantes Puruchuco<br />
                S/60.00 </p>
        </div>
        <br/>
    </div>
</div>