<div class="container" style="height: auto">
  <!--contenido-->
  <section>
    <div class="container container-flex">
      <form class="formulario">
        <h3>REGISTRATE A MR JOY</h3>
        <h4 style="color: black">
          <div class="text-center">Completa tus datos y accede a nuestro</div>
        </h4>
        <div class="contenedor">
          <div class="input-contenedor">
            <input type="text" placeholder="Nombre Completo" />
          </div>
          <div class="input-contenedor">
            <input type="text" placeholder="Apellido Paterno" />
          </div>
          <div class="input-contenedor">
            <input type="text" placeholder="Apellido Materno" />
          </div>

          <div class="input-contenedor">
            <input type="text" placeholder="DNI" maxlength="8" />
          </div>
          <div class="input-contenedor">
            <input type="email" placeholder="Correo Electronico" />
          </div>
          <div class="input-contenedor">
            <input type="date" placeholder="FECHA DE NACIMIENTO" />
          </div>
          <div class="input-contenedor">
            <input type="text" placeholder="Numero de telefono" maxlength="9" />
          </div>
          <div class="input-contenedor">
            <input type="password" placeholder="Contraseña" />
          </div>
          <div class="input-contenedor">
            <select name="sexo" class="form-control validate[required]">
              <option value="">SELECCIONA SEXO</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
          <div class="input-contenedor">
            <select name="pais" class="form-control validate[required]">
              <option value="">SELECCIONA PAIS DE ORIGEN</option>
              <option value="46|Chile">Chile</option>
              <option value="173|Perú">Perú</option>
              <option value="52|Colombia">Colombia</option>
              <option value="146|México">México</option>
            </select>
          </div>
          <input type="checkbox" value="1" /><a href="">
            He leído, y acepto los Términos, Condiciones y Políticas de
            Privacidad</a
          ><label>
            <input type="checkbox" value="1" /> Acepto recibir información sobre
            promociones y descuentos.</label
          >
          <input type="submit" value="UNIRSE" class="button" />
          <h2>
            <a class="link" href="loginvista.html">
              <div class="text-center">Iniciar Sesion</div>
            </a>
          </h2>
        </div>
      </form>
    </div>
  </section>
  <br />
  <br />
  <br />
</div>
