<main style="margin-top: 35px">
  <div class="container-fluid pt-4  mt-y">

    <div class="card mt-5" style="min-height: 720px">
      <a id="btnNuevoEmpleado" class="btn btn-success float-right my-2 mt-5" data-bs-toggle="modal"
        data-bs-target="#modalEmpleado" (click)="btnNuevoEmpleado()">
        <i class="ion-plus-round"></i> Nuevo</a>
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tablaEmpleado"
          class="table table-hover table-dark text-light table-responsive-lg table-bordered" style="width: 100%">
          <thead>
            <tr>
              <th colspan="10" class="text-center">LISTA DE EMPLEADOS</th>
            </tr>
            <tr>
              <th class="text-center">Codigo</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Apellido</th>
              <th class="text-center">Dni</th>
              <th class="text-center">Telefono</th>
              <th class="text-center">Correo</th>
              <th class="text-center">Fecha de Nacimiento</th>
              <th class="text-center">Turno</th>
              <th class="text-center">acciones</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let empleado of data">
              <td>{{ empleado.id_empleados }}</td>
              <td>{{ empleado.nombres }}</td>
              <td>{{ empleado.apellidos }}</td>
              <td>{{ empleado.dni }}</td>
              <td>{{ empleado.telefono }}</td>
              <td>{{ empleado.correo }}</td>
              <td>{{ empleado.fechaNacimiento }}</td>
              <td>{{ empleado.turno }}</td>
              <td>
                <a class="btn btn-warning" style='padding:0 10px'><i class="fas fa-pencil-alt"
                    (click)="btnSetEmpleadoModal(empleado)" data-bs-toggle="modal"
                    data-bs-target="#modalEmpleado"></i></a>{{" "}}
                <a class="btn btn-danger" style='padding:0 10px'><i class="fas fa-trash-alt"
                    (click)="eliminarEmpleado(empleado)"></i> </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <app-admin-footer></app-admin-footer>
    <!-- Button trigger modal -->
  </div>
  <!--Modal para CRUD-->
  <section class="body-main">
    <div class="modal fade" id="modalEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div *ngIf="isInsert" class="modal-headerCrear">
            <h5 class="modal-title" id="exampleModalLabel">Crear Empleado</h5>
          </div>
          <div *ngIf="!isInsert" class="modal-headerActualizar">
            <h5 class="modal-title" id="exampleModalLabel">Actualizar Empleado</h5>
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="formEmpleado">
            <div class="modal-body">
              <div class="form-group">
                <label for="nombres" class="col-form-label">Nombres:</label>
                <input type="text" required formControlName="nombres" class="form-control" name="nombres">
                <div class="form__warning" [ngClass]="{
                  'show':
                  formEmpleado.controls['nombres'].errors &&
                  formEmpleado.controls['nombres'].touched
                }">
                  <p class="warning-text">* Solo se permite letras a-Z</p>
                </div>
              </div>
              <div class="form-group">
                <label for="apellidos" class="col-form-label">Apellidos:</label>
                <input type="text" required formControlName="apellidos" class="form-control" name="apellidos">
                <div class="form__warning" [ngClass]="{
                  'show':
                  formEmpleado.controls['apellidos'].errors &&
                  formEmpleado.controls['apellidos'].touched
                }">
                  <p class="warning-text">* Solo se permite letras a-Z</p>
                </div>
              </div>
              <div class="form-group">
                <label for="dni" class="col-form-label">Dni:</label>
                <input maxlength="8" type="text" required formControlName="dni" class="form-control" name="dni">
                <div class="form__warning" [ngClass]="{
                  'show':
                  formEmpleado.controls['dni'].errors &&
                  formEmpleado.controls['dni'].touched
                }">
                  <p class="warning-text">* Dni requerido</p>
                </div>
              </div>
              <div class="form-group">
                <label for="telefono" class="col-form-label">Telefono:</label>
                <input maxlength="9" type="text" required formControlName="telefono" class="form-control"
                  name="telefono">
                <div class="form__warning" [ngClass]="{
                    'show':
                    formEmpleado.controls['telefono'].errors &&
                    formEmpleado.controls['telefono'].touched
                  }">
                  <p class="warning-text">* Solo numeros 0-9</p>
                  <p class="warning-text">* Caracteres max. 9</p>
                </div>
              </div>
              <div class="form-group">
                <label for="correo" class="col-form-label">Correo:</label>
                <input maxlength="50" type="email" required formControlName="correo" class="form-control" name="email">
                <div class="form__warning" [ngClass]="{
                    'show':
                    formEmpleado.controls['correo'].errors &&
                    formEmpleado.controls['correo'].touched
                  }">
                  <p class="warning-text">* Debe ser un email válido: example@gmail.com</p>
                </div>
              </div>
              <div class="form-group">
                <label for="fechaNacimiento" class="col-form-label">Fecha de Nacimiento:</label>
                <input type="date" required formControlName="fechaNacimiento" class="form-control"
                  name="fechaNacimiento">
                <div class="form__warning" [ngClass]="{
                    'show':
                    formEmpleado.controls['fechaNacimiento'].errors &&
                    formEmpleado.controls['fechaNacimiento'].touched
                  }">
                  <p class="warning-text">* Seleccione una fecha</p>
                </div>
              </div>
              <div class="form-group">
                <label for="turno" class="col-form-label">Turno:</label>
                <select class="form-control" formControlName="turno" id="turno">
                  <option value="mañana">Mañana</option>
                  <option value="tarde">Tarde</option>
                  <option value="noche">Noche</option>
                </select>
                <div class="form__warning" [ngClass]="{
                  'show':
                  formEmpleado.controls['turno'].errors &&
                  formEmpleado.controls['turno'].touched
                }">
                  <p class="warning-text">* Seleccione una Turno</p>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" (click)="btnCancel()" id="btnCancelar" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <!-- <button type="button" (click)="btnCancel()" id="btnCancelar" class="btn btn-danger">Cancelar</button> -->
              <button type="submit" id="btnGuardar" class="btn btn-primary" data-bs-dismiss="modal"> Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="body-main">
    <form id="frmEliminarCliente" action="" method="POST">

      <div class="modal fade" id="modalEliminarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Eliminar Empleado</h4>
            </div>
            <div class="modal-body">
              ¿Esta seguro de eliminar al empleado?<strong data-name=""></strong>
            </div>
            <div class="modal-footer">
              <button type="button" id="btnAceptarEliminar" class="btn btn-primary"
                data-dismiss="modal">Aceptar</button>
              <button type="button" id="btnCancelarEliminar" class="btn btn-default">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
