
    <div class="banner">
        <div class="container">
          <div class="row">
            <h1 class="contenido-banner-bio">Mis Reservas</h1>
          </div>
        </div>
    </div>
    <div class="container pt-4 pb-4" >
        <div class="card" style="min-height: 520px">
            <div class="card-body">
                <div class="table-responsive">
                    <table 
                        datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tablaMisReservas"
                        class="table table-hover table-light text-dark  table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th colspan="11" class="text-center"> MIS RESERVAS </th>
                            </tr>
                            <tr>
                                <th class="text-center">Fecha de Registro</th>
                                <th class="text-center">Hora</th>
                                <th class="text-center">Correo</th>
                                <th class="text-center">Telefono</th>
                                <th class="text-center">Tipo de paquete</th>
                                <th class="text-center">Cantidad de personas</th>
                                <th class="text-center">Acompañante</th>
                                <th class="text-center">Fecha de Reserva</th>
                                <th class="text-center">Total de pago</th>
                                <th class="text-center">Diferencia a pagar</th>
                                <th class="text-center">Estado de reserva</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let reserva of tablaReserva" 
                            [ngClass]="{
                                'disabled': reserva.estado !== 'vigente'
                              }">
                                <td>{{ reserva.fechaRegistro }}</td>
                                <td>{{ reserva.hora }}</td>
                                <td>{{ reserva.email }}</td>
                                <td>{{ reserva.telefono }}</td>
                                <td>{{ reserva.paqueteName }} </td>
                                <td>{{ reserva.cantPersonas }}</td>
                                <td>{{ reserva.acompaniante }}</td>
                                <td>{{ reserva.fechaReserva }}</td>
                                <td>{{ reserva.totalPago }}</td>
                                <td>{{ reserva.diferenciaPagar }}...</td>
                                <td>{{ reserva.estado}}</td>
                                <td class="acciones-cell">
                                    <button class="btn btn-warning d-inline-block" [disabled]="reserva.estado !== 'vigente'"  style='padding:0 10px;' data-bs-toggle="modal"
                                    data-bs-target="#" (click)="editarReserva(reserva)"><i class="fas fa-pencil-alt" ></i></button>
                                    {{' '}}
                                    <button class="btn btn-danger d-inline-block" [disabled]="reserva.estado !== 'vigente'" style='padding:0 10px' data-bs-toggle="modal"
                                    data-bs-target="#" (click)="selectReserva(reserva)" style='padding:0 10px'
                                    data-bs-toggle="modal" data-bs-target="#modal__eliminarreserva">  <i class="fas fa-trash-alt"  ></i></button>
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal__eliminarreserva" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form (ngSubmit)="onSubmitModalEliminarReserva()" name="login">
    <div class="modal-dialog ">
      <div class="col">
        <div class="modal-content">
          <div class="modal-header ">
            <h2 class="m-0 modal-title">Anular Reserva</h2>
            <button type="button" class="close btn__close" data-bs-toggle="modal" data-bs-target="#modal__eliminarreserva">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="col">
              <h1>Fecha de Registro: {{ tablaReservaE.fechaRegistro }}</h1>
              <h3>Estimado cliente la reserva solo se podra anular dentro de las 48 horas hábiles a partir de la fecha de registro</h3>
              <p> Total Cancelado: {{ tablaReservaE.totalPago }} </p>
            </div>
            <div class="form-group" id="user-group">
              <textarea rows="5" type="text" class="form-control Input" placeholder="Cuál es el motivo de la anulación?..." name="response"
                [(ngModel)]="tablaReservaE.motivoAnulacion"></textarea>
            </div>
            <br>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#modal__eliminarreserva">Enviar</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#modal__eliminarreserva">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>