
<div class="container">
  <h3>
    --------------------------------
    <div class="center">Crea tu cuenta</div>

    --------------------------------
  </h3>
  <div class="center mb-4">
    <p>Llena el siguiente formulario con tus datos personales y únete al Club Mr joy para recibir un descuento
      especial.</p>
    </div >
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label for="monto">Nombre</label>
      <input type="text" class="form-control">

    </div>
    <div class="col-md-6">
      <label for="bolo">Apellido</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="bolo">Correo</label>
      <input type="email" class="form-control">

    </div>
    <div class="col-md-6">
      <label for="bolo">Contraseña</label>
      <input type="password" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="bolo">Telefono</label>
      <input type="number" class="form-control">

    </div>
    <div class="col-md-6">
      <label for="bolo">Fecha de Nacimiento </label>
      <input type="date" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="chocolates">Tipo de Documento</label>
      <select class="form-control">
        <option value="">SELECCIONA</option>
        <option value="PASAPORTE">PASAPORTE</option>
        <option value="DNI">DNI</option>
        <option value="CARNET">CARNET EXT</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="bolo">N° Documento</label>
      <input type="number" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="chocolates">Sexo</label>
      <select class="form-control">
        <option value="">SELECCIONA </option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="chocolates">Ciudad</label>
      <select class="form-control">
        <option value="">SELECCIONA </option>
        <option value="M">Lima</option>
        <option value="F">La Libertad</option>
        <option value="M">Puno</option>
        <option value="F">Arequipá</option>
        <option value="M">Ica</option>
        <option value="F">Cusco</option>
      </select>
    </div>
  </div>
  <div class="center mt-4">
    <input class="mt-4" type="checkbox" value="1" class="terminos" /><a href="terminos.html"> He leído, y acepto los Términos, Condiciones y Políticas de
      Privacidad</a><br>
    <input  type="checkbox" value="1" /> Acepto recibir información sobre
      promociones y descuentos.<br>
  </div>
  <div class="row mt-4">
    <br>
    <div class="col-md-12 text-center">
      <input type="sumit" value="REGISTRARSE" class="button">
    </div>
  </div>
</div>
<br>