<main style="margin-top: 35px">
    <div class="container-fluid pt-4">
        <div class="card" style="min-height: 720px">
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tablaMisConsultas"
                    class="table table-hover table-light text-dark table-responsive-lg table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th colspan="10" class="text-center">MIS CONSULTAS</th>
                        </tr>
                        <tr>
                            <th class="text-center">Id consulta</th>
                            <th class="text-center">Asunto</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center">Fecha Registro</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Usuario quien respondió</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    
                        <tbody class="text-center">
                            <tr *ngFor="let consulta of consultotas">
                                <th>{{consulta.idContacto}}</th>
                                <th>{{consulta.asunto}}</th>
                                <th>{{consulta.descripcion}}</th>
                                <th>{{consulta.fechaRegistro}}</th>
                                <th>{{consulta.estado}}</th>
                                <th>{{consulta.respuestaAtencion}}</th>                                    
                                <td>
                                    <a class="btn btn-warning" style='padding:0 10px' data-bs-toggle="modal"
                                    data-bs-target="#modalEmpleado"><i class="fas fa-pencil-alt"  ></i></a>
                                </td>
                            </tr>
                        </tbody>
                    
                </table>
            </div>
        </div>

    </div>
</main>
