

        <form class="fomurlarioReserva">
          <label for="">Fecha de la Reserva:</label>
          <input class="form-control" type="date" placeholder="Ingrese la Fecha de la Reserva" [(ngModel)]="reserva.fechaReserva" name = "fechaReserva" (change)="fechaprobando()">
          <label for="">Hora de la Reserva:</label>
          <input class="form-control" type="time" placeholder="Ingrese la Hora de la Reserva" [(ngModel)]="reserva.hora" name = "hora">
          <label for="">Nombre:</label>
          <input class="form-control" type="text" placeholder="Ingrese su Nombre" [(ngModel)]="reserva.nombres" name = "nombres">
          <label for="">Apellido:</label>
          <input class="form-control" type="text" placeholder="Ingrese su Apellido" [(ngModel)]="reserva.apellido" name = "apellido">
          <label for="">Telefono:</label>
          <input class="form-control" type="number" placeholder="Ingrese su telefono" [(ngModel)]="reserva.telefono" name = "telefono">
          <label for="chocolates">Tipo de Paquete</label>
          <select class="form-control" [(ngModel)]="reserva.idPaquete"  name = "idPaquete" #idPaquetes (change)="onchangeValues(reserva.cantPersonas,reserva.acompaniante,idPaquetes.value)" >
            <option  value="0">Seleccione paquete</option>
            <option *ngFor="let items of paquetes" [value]="items.idPaquete + ' '+ items.precio">{{ items.descripcion }}</option>
          </select>
          <label for="">Cantidad de Persona:</label>
          <input class="form-control" type="number" placeholder="Ingrese su cantidad de persona" [(ngModel)]="reserva.cantPersonas" name = "cantPersonas" (keyup)="onchangeValues(reserva.cantPersonas,reserva.acompaniante,idPaquetes.value)" (change)="onchangeValues(reserva.cantPersonas,reserva.acompaniante,idPaquetes.value)">
          <label for="">Acompañante:</label>
          <input class="form-control" type="number" placeholder="Ingrese su cantidad de acompañante" [(ngModel)]="reserva.acompaniante" name = "acompaniante" (keyup)="onchangeValues(reserva.cantPersonas,reserva.acompaniante,idPaquetes.value)" (change)="onchangeValues(reserva.cantPersonas,reserva.acompaniante,idPaquetes.value)">
          <!--<label for="">Telefono:</label>
          <input class="form-control" type="number" placeholder="Ingrese su telefono" [(ngModel)]="reserva.telefono">-->
          <label for="">Total a Pagar :</label>
          <input type="text" readonly placeholder="" class="form-control" [value]="total" name="total">
          <button class="btn btn-primary mt-4 botonRegistrar" data-bs-dismiss="modal" type="button" (click)="NoRepetir()">Registrar</button>

        </form>
