<div class="container "*ngIf="habilitar">
    <h2 class="text-center">Registro de Reserva</h2>
    <div class="row mt-4">
      <div class="col-md-6 ">
        <form class="fomurlarioReserva">
          <label for="">Fecha de la Reserva:</label>
          <input class="form-control" type="Date" placeholder="Ingrese la Fecha de la Reserva">
          <label for="">Hora de la Reserva:</label>
          <input class="form-control" type="time" placeholder="Ingrese la Hora de la Reserva">
          <label for="">Nombre:</label>
          <input class="form-control" type="text" placeholder="Ingrese su Nombre">
          <label for="">Apellido:</label>
          <input class="form-control" type="text" placeholder="Ingrese su Apellido">
          <label for="">Telefono:</label>
          <input class="form-control" type="number" placeholder="Ingrese su telefono">
          <label for="chocolates">Tipo de Paquete</label>
          <select class="form-control" ngModel="paqueteSeleccionado">
            <option value="">SELECCIONA PAQUETE</option>
            <option *ngFor="let items of paquetes" [value]="items.idPaquete">{{ items.descripcion }}</option>
          </select>
          <label for="">Cantidad de Persona:</label>
          <input class="form-control" type="number" placeholder="Ingrese su cantidad de persona">
          <label for="">Acompañante:</label>
          <input class="form-control" type="number" placeholder="Ingrese su cantidad de acompañante">
          <label for="">Telefono:</label>
          <input class="form-control" type="number" placeholder="Ingrese su telefono">
          <label for="">Total a Pagar :</label>
          <input type="text" readonly placeholder="" class="form-control">
          <button class="boton" class="btn-reserva" type="button">Registrar</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="wrapper-calendar mt-4">
          <div class="header-calendar">
            <div>
              <button (click)="changeMonth(-1)" class="btn-prev">Atras</button>
            </div>
            <h1>{{dateSelect | date:'MMMM, yyyy, dd'}}</h1>
            <div>
              <button (click)="changeMonth(1)" class="btn-next">Siguiente</button>
            </div>
          </div>
          <ol>
            <li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>
        
                <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                 *ngFor="let day of monthSelect;let first = first">
              <span>{{day?.value}}</span>
            </li>
          </ol>
        </div>
        
        <hr>
        <div class="fechaActual">
          <p>Horario de reservas ocupadas: {{dateValue | date}}</p>
        </div>

        <div class="reservas">
          <div *ngFor="let re of reservas">{{re.hora}} </div>
        </div>
      </div>
    </div>
  </div>
