<header>
    <!-- Sidebar -->
    <nav
         id="sidebarMenu" class="collapse d-lg-block sidebar collapse" >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a [routerLink]="['/admin/menu']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/menu')}" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fas fa-home fa-fw me-3"></i><span>Menu</span>
          </a>
          <a *ngIf="sesionData.isAdmin" [routerLink]="['/admin/empleados']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/empleados')}"  class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-users-cog fa-fw me-3"></i><span>Empleados</span>
          </a>
          <a [routerLink]="['/admin/clientes']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/clientes')}" class="list-group-item list-group-item-action py-2 ripple active">
              <i class="fas fa-users fa-fw me-3"></i><span>Clientes</span>
          </a>
          <a [routerLink]="['/admin/reservas']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/reservas')}" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-book fa-fw me-3"></i><span>Reservas</span>
          </a>

          <a *ngIf="sesionData.isAdmin" [routerLink]="['/admin/proveedores']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/proveedores')}" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-shipping-fast fa-fw me-3"></i><span>Provedores</span>
          </a>
          <a [routerLink]="['/admin/paquetes']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/paquetes')}" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-calendar fa-fw me-3"></i><span>Paquetes</span>
          </a>
          <a [routerLink]="['/admin/promociones']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/promociones')}" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-calendar fa-fw me-3"></i><span>Promociones</span>
          </a>

          <a [routerLink]="['/admin/contacto']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/contacto')}" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-book fa-fw me-3"></i><span>Preguntas Clientes</span>
        </a>

        <a [routerLink]="['/admin/reporte']" routerLinkActive="router-link-active"   [ngClass]="{active: isUrlEqualTo('/admin/reporte')}" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-bar fa-fw me-3"></i><span>Reportes</span>
      </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav
         id="main-navbar" class="navbar navbar-expand-lg navbar-light  fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img src="/assets/images/footer/logo.png" height="30" class="navbar__logo"  alt="" loading="lazy" />
        </a>
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>

            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Some news</a></li>
              <li><a class="dropdown-item" href="#">Another news</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <!-- Icon -->
          <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#"><i class="fas fa-fill-drip"></i></a>
          </li>
          <!-- Icon -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
          </li>
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false" >
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy"/>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Mi perfil</a></li>
              <li><a class="dropdown-item" href="#">Configuraciones</a></li>
              <li><a class="dropdown-item" [routerLink]="['/login ']"  >Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
