<footer class="text-center text-lg-start   text-muted">
  <div class="container-fluid">
      <div class="row">
          <div class="footer-left col-lg-4 col-md-12  mb-md-0">
            <br>
          <p>gerencia@mrjoy.com.pe</p><br>
          <p>Libro de reclamaciones</p>
          </div>
          <div class="footer-right col-lg-4 col-md-12  mb-md-0">
              <img src="/assets/images/footer/logo.png" alt=""><br><br>
          <p>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i (click)="openCityInNewWindow('/login')" class="fa-solid fa-house fab"></i>
          </p>
          </div>
          <div class="footer-left col-lg-4 col-md-12  mb-md-0">
            <p> Estamos ubicados en:</p>
            <p class="ubicaciones">Real Plaza Puruchuco</p>
            <p class="ubicaciones">Real Plaza Piura</p>
            <p class="ubicaciones">Real Plaza Trujillo</p>
          </div>
      </div>
      <div class="row">
        <div class="copy text-center p-4">
          ©  Copyright – 2022 |  Mr Joy  |   Todos los derechos reservados
        </div>
      </div>
    </div>
</footer>
