
.footer-left{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(40, 56, 144);
    padding: 30px;
    text-align: center;
    min-height: 150.667px;
    height: auto;
    color: aliceblue;

}
.footer-right{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(23, 116, 185);
    padding: 20px;
    text-align: center;
    min-height: 150.667px;
    height: auto;
    color: aliceblue;
}
.footer-right p{
    padding-top: 20px;
}
footer p{
    font-size: 18px;
    font-weight: bold;
}
.ubicaciones{
    font-size: 15px;
  }
.fab{
    padding: 8px 15px;
    background-color: rgb(40, 56, 144);
    border-radius: 3px;
    margin: 0 8px;
    cursor: pointer;
}
.copy{
    background-color: #222222;
    color:aliceblue;
    font-size: 12px;
}
