
<form class="fomurlarioReserva" [formGroup]="formReserva">
  <label for="">Fecha de la Reserva:</label>
  <input class="form-control" type="date" placeholder="Ingrese la Fecha de la Reserva"   formControlName="fechaReserva" name = "fechaReserva" (change)="validandoCambioDeFecha()">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['fechaReserva'].errors
  }">
    <p class="warning-text">* Seleccione una fecha válida</p>
  </div>
  <label for="">Hora de la Reserva:</label>
  <select class="form-control" formControlName="hora"  name = "hora">
    <option  value="inicio">Seleccione Hora</option>
    <option *ngFor="let item of horaCadena" [value]="item" >{{ item }}</option>
  </select>
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['hora'].errors &&
    formReserva.controls['hora'].touched
  }">
    <p class="warning-text">* Seleccione una hora</p>
  </div>
  <label for="">Nombre:</label>
  <input class="form-control" type="text" placeholder="Ingrese su Nombre" formControlName="nombres" name = "nombres">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['nombres'].errors &&
    formReserva.controls['nombres'].touched
  }">
    <p class="warning-text">* Solo se permite letras a-Z</p>
  </div>
  <label for="">Apellidos:</label>
  <input class="form-control" type="text" placeholder="Ingrese su Apellido" formControlName="apellido" name = "apellido">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['apellido'].errors &&
    formReserva.controls['apellido'].touched
  }">
    <p class="warning-text">* Solo se permite letras a-Z</p>
  </div>
  <label for="">DNI:</label>
  <input class="form-control" type="text" placeholder="Ingrese su DNI" formControlName="dni" name = "dni">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['dni'].errors &&
    formReserva.controls['dni'].touched
  }">
    <p class="warning-text">* Dni requerido</p>
  </div>
  <label for="">Email:</label>
  <input class="form-control" type="email" placeholder="Ingrese su email" formControlName="email" name = "email">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['email'].errors &&
    formReserva.controls['email'].touched
  }">
  <p class="warning-text">* Debe ser un email válido: example@gmail.com</p>
  </div>
  <label for="">Telefono:</label>
  <input  maxlength=9 class="form-control" type="text" placeholder="Ingrese su telefono" formControlName="telefono" name = "telefono">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['telefono'].errors &&
    formReserva.controls['telefono'].touched
  }">
  <p class="warning-text">* Solo numeros 0-9</p>
  <p class="warning-text">* Caracteres max. 9</p>
  </div>
  <!--<label for="">Correo:</label>
  <input class="form-control" type="email" [(ngModel)]="reserva.correo" placeholder="Ingrese su correo"  name = "correo">-->
  <label for="">Tipo de Paquete</label>
  <select class="form-control" formControlName="idPaquete"  name = "idPaquete" #idPaquetes (change)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)" >
    <option  value="0">Seleccione paquete</option>
    <option *ngFor="let items of paquetes" [value]="items.idPaquete + ' '+ items.precio">{{ items.descripcion }}</option>
  </select>
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['idPaquete'].errors &&
    formReserva.controls['idPaquete'].touched
  }">
    <p class="warning-text">* Seleccione  un Paquete</p>
  </div>
  <label for="">Cantidad de Persona:</label>
  <input min="15" max="30"  class="form-control" type="number" placeholder="Ingrese su cantidad de persona" formControlName="cantPersonas" name = "cantPersonas" (keyup)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)" (change)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['cantPersonas'].errors &&
    formReserva.controls['cantPersonas'].touched
  }">
    <p class="warning-text">* Cantidad de personas permitida: 1-15</p>
  </div>
  <label for="">Acompañante:</label>
  <input min="0" max="15" class="form-control" type="number" placeholder="Ingrese su cantidad de acompañante" formControlName="acompaniante"  name = "acompaniante" (keyup)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)" (change)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)">
  <div class="form__warning" [ngClass]="{
    'show':
    formReserva.controls['acompaniante'].errors &&
    formReserva.controls['acompaniante'].touched
  }">
    <p class="warning-text">* Cantidad de acompañantes permitido: 0-15</p>
  </div>
  <!--<label for="">Telefono:</label>
  <input class="form-control" type="number" placeholder="Ingrese su telefono" [(ngModel)]="reserva.telefono">-->
  <label for="">Total a Pagar :</label>
  <input type="text" readonly placeholder="" class="form-control" [value]="total" name="total">

  <label *ngIf="!isUrlEqualTo('/admin/reservas')" class="form-group" ><input formControlName="terminosCondiciones" type="checkbox" id="cbox1" value="first_checkbox"> Acepto y he leido los <a data-bs-toggle="modal" data-bs-target="#terminosCondiciones" class="terminos"
>términos y condiciones Mr. Joy </a></label><br>

<div class="modal fade"  id="terminosCondiciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">Terminos y Condiciones Mr. Joy</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Términos y condiciones generales de servicio</h2>
        <p>Los siguientes términos y condiciones de servicio, te ayudarán a que vivas una experiencia divertida e inolvidable ya que cada vez que ingresas a nuestro parque, estás aceptando conocer, comprender y cumplir lo siguiente:</p>

        <h2>Ingreso, permanencia y salida</h2>
        <p>Por razones de seguridad, en los parques Mr. Joy las niñas y niños menores de 8 años únicamente ingresarán al parque acompañados de una persona mayor de 18 años quien es responsable de cuidar, supervisar y acompañarlo en todo momento. Igual disposición aplica a personas con discapacidad, o capacidades especiales. En parques Big Mr. Joy, las niñas y niños menores de 12 años únicamente ingresarán al parque acompañados de una persona mayor de 18 años, quien es responsable de cuidar, supervisar y acompañarlos en todo momento.</p>
        <p>En todos estos casos, solo pueden salir en compañía de la misma persona adulta con quien ingresaron.</p>
        <p>En todos los casos sin importar la edad del o los menores, el adulto mayor de 18 años acompañando es responsable de cuidar, supervisar y acompañar todo el momento en su estancia en Mr. Joy de los menores a su cargo.</p>
        <p>Nos reservamos el derecho de admisión y permanencia en nuestro parque, especialmente respecto de quienes incumplan las reglas de uso de los juegos o presenten conductas agresivas, discriminatorias, ofensivas o inadecuadas. Si alguien es expulsado por esta razón no tendrá derecho a reembolso.</p>
        <p>Está estrictamente prohibido el ingreso de alimentos y bebidas (excepto para el Área de cumpleaños).</p>
        <p>No se permite el ingreso de mascotas únicamente pueden ingresar animales de servicio con su respectivo certificado.</p>
        <p>Mr. Joy es un lugar donde se prohíbe fumar, sus visitantes no pueden fumar o consumir ningún tipo de droga en ningún lugar del parque.</p>
        <p>Está estrictamente prohibido el ingreso al parque en estado etílico</p>
        <p>Mr. Joy puede solicitar la identificación con el objetivo de comprobar la edad para el uso de juegos.</p>

        <h2>Facturación y pago</h2>
        <p>Niños menores a 12 meses no pagan por ingresar al parque. Niños entre 12 y 24 meses reciben un descuento especial.</p>
        <p>Aplican descuentos para personas con discapacidad o capacidades especiales, asi como para quienes tengan bajo su supervisión y cuidado.</p>
        <p>Nuestros juegos tienen restricciones sobre edad, altura, peso, uso en caso de estar embarazada, personas con lesiones, debes informarte en caja antes de ingresar y no tendrás derecho a reclamo después de haber pagado la entrada.</p>
        <p>Al pagar tu factura, puedes ingresar a todos los juegos de tu paquete durante el tiempo contratado, conserva tu factura y preséntala al salir, ya que es el único documento que permitirá tu salida del parque.</p>
        <p>Contamos con servicio de casilleros para guardar tus pertenencias (servicio sujeto a condiciones del centro) el cual también puede ser pagado por el cliente, si pierdes las llaves, deberás pagar S/25 para cubrir el costo de reemplazarla.</p>
        <p>Las entradas compradas en nuestro portal web www.mrjoy.com.pe tienen una validez de dos semanas desde el día de la compra.</p>
        <p>Al momento de comprar tu entrada desde nuestro portal web se te generará un código QR único, no lo compartas con nadie ya que corres el riesgo de que sea utilizado por otras personas y pierdes tus entradas.</p>
        <p>No hay devoluciones de dinero.</p>

        <h2>Reglas generales de uso de juegos</h2>
        <p>En todo momento debes observar y cumplir las restricciones sobre edad, altura, peso y demás condiciones establecidas para cada juego, así como las instrucciones dadas por los anfitriones.</p>
        <p>El uso de zapatos y medios es obligatorio para ciertos juegos en el parque, observa la señalización al ingresar a la atracción.</p>
        <p>Se prohíbe el consumo de bebidas, alimentos, golosinas, chupetes o goma de mascar dentro de las zonas de juego.</p>
        <p>El ingreso a ciertos juegos puede verse restringido por momentos debido a condiciones climáticas o actividades de mantenimiento.</p>

        <h2>Seguridad y límites de responsabilidad</h2>
        <p>En nuestros juegos aplicamos todas las medidas razonables para que tu visita sea amena y segura. Sin embargo, existen riesgos inherentes a la actividad física e interacción con otros usuarios, por ello, al ingresar a nuestro parque asumes en forma personal y exclusiva roda la responsabilidad sobre accidentes, daños y/o perdidas que puedan resultar o provenir del uso de nuestros juegos, libreando a Active Fun Diversion S.A.C., sus representantes y/o trabajadores de cualquier responsabilidad derivada de esas circunstancias, así como de actos o hechos por terceros en el parque.</p>
        <p>En los juegos como Sky Walk, Área de Escalada, Joy Láser y princesas se requiere la supervisión de un anfitrión para la colocación de arneses, implementes de juego o seguridad. En los juegos que necesita ayuda del anfitrión el acercamiento será el menor posible…</p>
        <p>Realizamos mantenimiento permanente de nuestros juegos e inspección periódica de seguridad. Contamos con un sistema de cámaras de seguridad que vigilan el movimiento interno del local.</p>
        <p>Debes comprometerte a cuidar nuestros equipos e instalaciones y no realizar mal trato o mal uso de los mismos. En caso de dañarlos, debes reembolsar el costo de los mismos.</p>
        <p>Para niñas, niños y personas con discapacidades especiales, quien asume tales riesgos y responsabilidades es la persona responsable de su cuidado y supervisión con la que ingresó a nuestro parque.</p>
        <p>Si te encuentras embarazada o tienes una condición médica preexistente con: Epilepsia, problemas de corazón, Hipertensión y lesiones, entre otras condiciones especiales de salid, es tu responsabilidad informarlas oportunamente a nuestros anfitriones antes de ingresar al parque o usar los juegos. Tu omisión nos exime de cualquier responsabilidad.</p>
        <p>Los bienes que decidas llevar contigo dentro del parque o guardes en los casilleros están bajo tu absoluta responsabilidad. Nosotros no nos responsabilizamos en caso de que se pierdan y/o dañen. Por razones de seguridad, nos reservamos el derecho para inspeccionar tus mochilas, bolsos u otros bienes en tu presencia.</p>
        <p>Por razones de seguridad, al ingresar a nuestro parque nos autorizas gratuitamente para que te fotografiemos y/o grabemos. De tu parte, toda fotografía o grabación que realices dentro del parque debe ser estrictamente de ti y tus acompañantes y para uso personal, pues cualquier otro uso sin el consentimiento de Activa Fun Diversion S.A.C. se encuentra estrictamente prohibido.</p>
        <p>No se permite fotografía o grabar las instalaciones, atracciones y/o terceras personas, sin el consentimiento de Active Fun Diversion S.A.C reservándonos el derecho de borrar dichas imágenes o filmaciones.</p>
        <p>Nosotros no asumimos ninguna responsabilidad en caso de que seas fotografiado o grabado por terceros.</p>
        <p>Al ingresar a nuestro parque, aceptas que toda controversia sea sometida a mediación y después a arbitraje confidencial y en derecho ante el centro de arbitraje.</p>
        <p>En caso de tener un accidente debes reportarlo inmediatamente a un miembro del equipo de Active Fun Diversion S.A.C.</p>
        <p>Nos reservamos el derecho a modificar estos términos generales de servicio y las reglas de uso de los juegos en cualquier momento, sin previo aviso.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cerrar" data-bs-dismiss="modal">Acepto</button>
      </div>
    </div>
  </div>
</div>
  <button
   id="btnRegistrar" class="btn btn-primary  mt-4 botonRegistrar"
   type="button"  *ngIf="isUrlEqualTo('/admin/reservas')" [disabled]="formReserva.invalid" (click)="registrarReservaEmpleado ()">Registrar</button>

  <button  (click)="setFormularioDataToReservaDTO()"
   id="btnRegistrar" [disabled]="formReserva.invalid" data-bs-toggle="modal" data-bs-target="#modalLEntradas" class="btn btn-primary mt-4 botonRegistrar"
   data-bs-dismiss="modal" type="button"  *ngIf="isUrlEqualTo('/cumpleanios')" >Registrar</button>

</form>
<app-modal-pago [datoReservaFormulario]="reserva"></app-modal-pago>
