<div class="parque">
    <div class="center">NUESTROS JUEGOS</div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/parque/c1.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/parque/c2.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/parque/c3.jpg" alt="" class="img-fluid">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/parque/c4.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/parque/c5.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/parque/c6.jpg" alt="" class="img-fluid">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/parque/c7.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/parque/c8.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/parque/c9.jpg" alt="" class="img-fluid">
      </div>
    </div>
    <br>
  </div>
  <div class="parque">
    <div class="center">CONOCE NUESTRAS INSTALACIONES</div>
  </div>
  <br>
  <div class="container">
    <img src="/assets/images/parque/mapa.png" alt="" class="img-fluid">
  </div>
  <br>