<div class="banner">
  <div class="container">
    <div class="row">
      <h1 class="contenido-banner-bio">Parques</h1>
    </div>
  </div>
</div>
<div class="container" style="min-height:438px;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="titulo">Recuerda que las cajas cierran 90 minutos antes del cierre de los locales</h1>
    </div>
    <div *ngFor="let parque of parques; let i = index;" class="col-lg-4 col-md-12  mb-md-0">
      <div class="contenido-imagen">
        <img [src]="parque.rutaImg"  class="rounded img-fluid" alt="">
      </div>

      <div class="contenido">
        <div>
          <h3>{{ parque.nombre }}</h3>
          <p>
            {{ parque.horario1 }}
            <br>
            {{ parque.horario2 }}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
