<div class="banner">
  <div class="container">
    <div class="row">
      <h1 class="contenido-banner-bio">Cumpleaños</h1>
    </div>
  </div>
</div>
<div class="container" style="height: auto;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="titulo">PAQUETES DE CUMPLEAÑOS MR. JOY</h1>
    </div>
  </div>
  <div class="row">
    <div class="box col-lg-4 col-md-12  mb-md-0">
      <div class="body">
        <div class="imgContainer">
          <div class="circuloVerde">
            <i class="fas fa-gift"></i>
          </div>
          <div class="tabla-precios">
            <div class="tituloVerde">
              <h3 class="letter-spacing">Cumpleaños</h3>
              <h1 class="margin-menos">Paquete Nito</h1>
            </div>
            <div class="valorVerde">
              <span class="">desde</span>
              <h1 class="valor">S/. 25.90</h1>
              <div class="valor-left">por Persona</div>
            </div>
            <div class="cantidadVerde">
              Mínimo 15 invitados
              <div>Más Información aquí</div>
            </div>

          </div>
        </div>
        <div class="content d-flex flex-column align-items-center justify-content-center">
          <div class="contenidoReversa">
            <h3 class="text-white fs-5">Paquete válido por persona</h3>
            <ul class="texto">
              <li>Duración de la fiesta 2h 30min</li>
              <li>Salón exclusivo</li>
              <li>Decoración de cumpleaños</li>
              <li>Anfitrión encargado de la atención</li>
              <li>Lunch(pop corn + gaseosa 350ml)</li>
              <li>Presentación del cumpleañero/a y actividades</li>
              <li>Invitaciones virtuales</li>
              <li>Papá, Mamá y cumpleañeros entran GRATIS!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="box col-lg-4 col-md-12  mb-md-0">
      <div class="body">
        <div class="imgContainer">
          <div class="circuloAmarillo">
            <i class="fas fa-gift"></i>
          </div>
          <div class="tabla-precios">
            <div class="tituloAmarillo">
              <h3 class="letter-spacing">Cumpleaños</h3>
              <h1 class="margin-menos">Paquete Mr. Joy</h1>
            </div>
            <div class="valorAmarillo">
              <span class="">desde</span>
              <h1 class="valor">S/. 32.90</h1>
              <div class="valor-left">por Persona</div>
            </div>
            <div class="cantidadAmarillo">
              Mínimo 15 invitados
              <div>Más Información aquí</div>
            </div>

          </div>
        </div>
        <div class="content d-flex flex-column align-items-center justify-content-center">
          <div class="contenidoReversa">
            <h3 class="text-white fs-5">Paquete válido por persona</h3>
            <ul class="texto">
              <li>Duración de la fiesta 2h 30min</li>
              <li>Salón exclusivo</li>
              <li>Decoración de cumpleaños</li>
              <li>Anfitrión encargado de la atención</li>
              <li>Lunch(Hot dog + gaseosa 350ml + porción snack)</li>
              <li>Presentación del cumpleañero/a y actividades</li>
              <li>Invitaciones virtuales</li>
              <li>1 Pase de Cortesía para cualquier día</li>
              <li>Glovos Mr. Joy para cada invitado</li>
              <li>Papá, Mamá y cumpleañeros entran GRATIS!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="box col-lg-4 col-md-12  mb-md-0">
      <div class="body">
        <div class="imgContainer">
          <div class="circuloTurquesa">
            <i class="fas fa-gift"></i>
          </div>
          <div class="tabla-precios">
            <div class="tituloTurquesa">
              <h3 class="letter-spacing">Cumpleaños</h3>
              <h1 class="margin-menos"> Super Mr. Joy</h1>
            </div>
            <div class="valorTurquesa">
              <span class="">desde</span>
              <h1 class="valor">S/. 39.90</h1>
              <div class="valor-left">por Persona</div>
            </div>
            <div class="cantidadTurquesa">
              Mínimo 15 invitados
              <div>Más Información aquí</div>
            </div>

          </div>
        </div>
        <div class="content d-flex flex-column align-items-center justify-content-center">
          <div class="contenidoReversa">
            <h3 class="text-white fs-5">Paquete válido por persona</h3>
            <ul class="texto">
              <li>Duración de la fiesta 2h 30min</li>
              <li>60 min adicionales para jugar en el parque</li>
              <li>Salón exclusivo</li>
              <li>Decoración de cumpleaños</li>
              <li>Anfitrión encargado de la atención</li>
              <li>Lunch(Hot dog + gaseosa 350ml + porción snack + Postres)</li>
              <li>Presentación del cumpleañero/a y actividades</li>
              <li>Regalo para el cumpleañero(a)</li>
              <li>1 Pase de Cortesía para cualquier día</li>
              <li>Glovos Mr. Joy para cada invitado</li>
              <li>Papá, Mamá y cumpleañeros entran GRATIS!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-center">
      <div class="boton" type="button" (click)="habilitar=(habilitar==false)?true:false;">
        <a class="btn-reserva">{{habilitar==false?'Reserva tu Paquete':'¿Desea Reservar?' }}</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container "*ngIf="habilitar==false">
  <h2 class="text-center">Registro de Reserva</h2>
  <div class="row">
    <div class="col-md-6">
      <label for="">Fecha de la Reserva:</label><br>
      <input class="form-control" type="Date" placeholder="Ingrese la Fecha de la Reserva"><br>
      <label for="">Hora de la Reserva:</label><br>
      <input class="form-control" type="time" placeholder="Ingrese la Hora de la Reserva"><br>
      <label for="">Nombre:</label><br>
      <input class="form-control" type="text" placeholder="Ingrese su Nombre">
      <label for="">Apellido:</label><br>
      <input class="form-control" type="text" placeholder="Ingrese su Apellido"><br>
      <label for="">Telefono:</label><br>
      <input class="form-control" type="number" placeholder="Ingrese su telefono"><br>
      <label for="chocolates">Tipo de Paquete</label>
      <select class="form-control">
        <option value="">SELECCIONA PAQUETE</option>
        <option value="PASAPORTE">PAQUETE NITO</option>
        <option value="DNI">PAQUETE MR JOY</option>
        <option value="CARNET">PAQUETE SUPER MR JOY</option>
      </select><br>
      <label for="">Cantidad de Persona:</label><br>
      <input class="form-control" type="number" placeholder="Ingrese su cantidad de persona"><br>
      <label for="">Acompañante:</label><br>
      <input class="form-control" type="number" placeholder="Ingrese su cantidad de acompañante"><br>
      <label for="">Telefono::</label><br>
      <input class="form-control" type="number" placeholder="Ingrese su telefono"><br>
      <label for="">Total a Pagar ::</label><br>
      <input type="text" readonly placeholder="" class="form-control"><br>
      <button class="boton" class="btn-reserva" type="button">Registrar</button> <br>
    </div>
    <div class="col-md-6">
      <div class="wrapper-calendar">
        <div class="header-calendar">
          <div>
            <button (click)="changeMonth(-1)" class="btn-prev">Antes</button>
          </div>
          <h1>{{dateSelect | date:'MMMM, yyyy'}}</h1>
          <div>
            <button (click)="changeMonth(1)" class="btn-next">Siguiente</button>
          </div>
        </div>
        <ol>
          <li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>
      
              <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
               *ngFor="let day of monthSelect;let first = first">
            <span>{{day?.value}}</span>
          </li>
        </ol>
      </div>
      
      <hr>
      <div>
        Fecha: {{dateValue | date}}
      </div>
    </div>
  </div>
</div>
