<!--<div class="row">
  <div class="col-md-4 col-center">
    <div
      class="boton"
      type="button"
      (click)="habilitar = habilitar == false ? true : false"
    >
      <a class="btn-reserva">{{
        habilitar == false ? "Reserva tu Paquete" : "¿Desea Reservar?"
      }}</a>
    </div>
  </div>
</div>-->
<main style="margin-top: 35px">
  <div class="container-fluid pt-4">
    <a id="btnNuevoEmpleado" class="btn btn-success float-right my-2" data-bs-toggle="modal"
      data-bs-target="#modalEmpleado">
      <i class="ion-plus-round"></i> Nuevo</a>
    <div class="card" style="min-height: 720px">
      <div class="card-body">
        <div class="row mt-4">
          <div class="col-md-7">
            <app-calendario-reserva (reservaPicked$)="reservaPicked$($event)"></app-calendario-reserva>
          </div>
          <div class="col-md-5">

            <div class="table-responsive">
              <table class="table table-hover table-light text-dark table-responsive-lg table-bordered text-center"
                style="width: 100%">
                <thead>
                  <tr>
                    <th colspan="2">DETALLE DE RESERVA POR HORA</th>
                  </tr>
                  <tr>
                    <th>Nombres y Apellidos</th>
                    <td> {{ reservaPicked.nombres + " " + reservaPicked.apellido }} </td>
                  </tr>
                  <tr>
                    <th>DNI</th>
                    <td> {{ reservaPicked.dni }} </td>
                  </tr>
                  <tr>
                    <th>Telefono</th>
                    <td> {{ reservaPicked.telefono }} </td>
                  </tr>
                  <tr>
                    <th>Hora</th>
                    <td> {{ reservaPicked.hora }} </td>
                  </tr>
                  <tr>
                    <th>Cant. Personas</th>
                    <td> {{ reservaPicked.cantPersonas }} </td>
                  </tr>
                  <tr>
                    <th>Cant. Acompañantes</th>
                    <td> {{ reservaPicked.acompaniante }} </td>
                  <tr>
                    <th>Paquete</th>
                    <td> {{ paquetePicked }} </td>
                  </tr>
                  <tr>
                    <th>Precio total</th>
                    <td> {{ reservaPicked.totalPago }} </td>
                  </tr>

                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

    <app-admin-footer></app-admin-footer>
    <!-- Button trigger modal -->
  </div>




  <!--Modal para CRUD-->
  <section class="body-main">
    <div class="modal fade" id="modalEmpleado" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content  p-5">
          <app-formulario-reserva></app-formulario-reserva>
        </div>
      </div>
    </div>
  </section>

















  <section class="body-main">
    <form id="frmEliminarCliente" action="" method="POST">

      <div class="modal fade" id="modalEliminarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Eliminar Empleado</h4>
            </div>
            <div class="modal-body">
              ¿Esta seguro de eliminar al empleado?<strong data-name=""></strong>


            </div>
            <div class="modal-footer">
              <button type="button" id="btnAceptarEliminar" class="btn btn-primary"
                data-dismiss="modal">Aceptar</button>
              <button type="button" id="btnCancelarEliminar" class="btn btn-default">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
