
<div class="row">
  <form class="row my-3" (ngSubmit)="onSubmitFilter()" [formGroup]="formFilter">
    <div class="col-sm-2 form-group">
      <select formControlName="campo" class="form-control" name="tipo" id="">
        <option value="dni">DNI</option>
        <option value="nombres">Nombres</option>
        <option value="apellido">Apellidos</option>
      </select>
    </div>
    <div class="col-sm-6 form-group">
      <input formControlName="valor" class="form-control" type="text" placeholder="Buscar por dni, nombre, apellidos">
    </div>
    <div class="col-sm-2 form-group">
      <button class="btn btn-light" type="submit">Buscar</button>
    </div>
    <!-- {{ formFilter.value | json }} -->
  </form>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-dark text-light table-responsive-lg table-bordered text-center"
        style="width: 100%">
        <thead>
          <tr>
            <th colspan="14">Reservas del cliente</th>
          </tr>
          <tr>
            <th>Fecha de Registro</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>DNI</th>
            <th>Telefono</th>
            <!--<th>Correo</th>-->
            <th>Fecha de Reserva</th>
            <th>Hora</th>
            <th>Cant. Personas</th>
            <th>Cant. Acompañantes</th>
            <th>Paquete</th>
            <th>Precio total</th>
            <th>Estado</th>
            <th>DIferencia a pagar</th>
            <th colspan="2">Acciones</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of reservasFiltered" >
            <td>{{reserva.fechaRegistro}}</td>
            <td>{{reserva.nombres}}</td>
            <td>{{reserva.apellido}}</td>
            <td>{{reserva.dni}}</td>
            <td>{{reserva.telefono}}</td>
            <td>{{reserva.fechaReserva}}</td>
            <td>{{reserva.hora}}</td>
            <td>{{reserva.cantPersonas}}</td>
            <td>{{reserva.acompaniante}}</td>
            <td>{{reserva.idPaquete}}</td>
            <td>{{reserva.totalPago | number: '.2-2'}}</td>
            <td>{{reserva.estado}}</td>
            <td>{{reserva.diferenciaPagar | number: '.2-2' }}</td>
            <td>
              <Button class="btn btn-warning" style='padding:0 10px' data-bs-toggle="modal"
                data-bs-target="#modalEmpleado" (click)="btnEditreserva(reserva)" ><i class="fas fa-pencil-alt"></i></Button>
            </td>
            <td><a class="btn btn-danger" style='padding:0 10px'><i class="fa-solid fa-print"></i> </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<section class="body-main">
  <div class="modal fade" id="modalEmpleado" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--<app-formulario-reserva [total]="ireserva.totalPago" [reserva]="ireserva"></app-formulario-reserva>-->
        <app-modal-formulario-reserva></app-modal-formulario-reserva>
      </div>
    </div>
  </div>
</section>
