
.navegacion a{
    color: #000;
}

  
header{
    background-color: rgb(40, 56, 144);
    color:aliceblue;
    width: 100%;
    min-height: 50px;
    height: auto;
    padding-top:10px;
}
.botones{
    align-items: center;
}
.registro{
    padding-top: 10px;
}
.registro ul{
  justify-content: flex-end;
  display: flex;
}
.registro ul li{
    list-style-type: none;
  text-align: left;
}
.registro ul li a{
    color: #ffffff;
    padding: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.fas{
    padding-right: 10px;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
}
.btn-compra{
    background-image: linear-gradient(to top,#8CC63F,#39B54A);
    font-family: PT Sans;
    font-weight: 400;
    border: 0;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 23px;
    line-height: 16px;
    font-size: 13px;
    max-width: 200px;
    float: left;
}
.btn-bio{
    background: linear-gradient(0deg, rgba(252,161,14,1) 0%, rgba(245,120,30,1) 80%);
    font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    padding: 11px 23px;
    line-height: 16px;
    font-size: 13px;
    max-width: 200px;
    display: inline-block;
    margin-left: 20px;
}
.logo{
    display: block; 
    float: left;
    max-width: 100%;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.nav-item{
    padding: 0 0 0 15px;
}
.nav-item a:hover{
    border-bottom: 3px solid rgb(40, 56, 144);
    transition-duration:  0.2s;
}
.active{
    border-bottom: 3px solid rgb(40, 56, 144);
    color: rgb(23, 116, 185);
} 

.login{
    cursor: pointer;
}

/*.formudatos::after
{
    display: inline-block;
    padding: 0px 0 0px 10px;
    color: var(--text-secondary);
    font-family: "Material-Design-Iconic-Font";
    font-size: 16px;
    content: ">";
}*/

.formudatos
{
    cursor: pointer;
}

/*::after{
    box-sizing: inherit;
}*/

/* Style The Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black !important;
    padding: 8px 10px !important;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover 
  {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }*/