<header>
  <div class="container">
    <div class="row">
      <div class="container-flex">
        <div class="botones">
          <a *ngIf="hasSesion() else noHasSesion" routerLink="compra-entradas">
            <div class="btn-compra">COMPRA ENTRADAS</div>
          </a>
          <ng-template #noHasSesion>
            <a data-bs-toggle="modal" data-bs-target="#modalLogin">
              <div class="btn-compra">COMPRA ENTRADAS</div>
            </a>
          </ng-template>
          <a routerLink="bioseguridad">
            <div class="btn-bio">BIOSEGURIDAD</div>
          </a>
        </div>
        <div class="registro">
          <ul>
            <li>

              <a id="" data-bs-toggle="modal" data-bs-target="#modalLogin" class="login"
                *ngIf="nombre == 'Ingresar' ; else UsuarioIngresado">
                {{nombre}}</a>
              <ng-template #UsuarioIngresado>
                <div class="dropdown">
                  <span class="formudatos dropbtn ">{{" " + nombre | uppercase }} <span class="my__span">
                      {{" "}}<img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="rounded-circle img__profile"
                        height="22" alt="" loading="lazy" />
                    </span>
                  </span>

                  <div class="dropdown-content">
                    <a routerLink="perfil"><i class="fa-solid fa-user"></i> Mi Perfil </a>
                    <!-- <a>Configuración</a> -->
                    <a routerLink="mis-reservas"><i class="fa-solid fa-book"></i> Mis reservas</a>
                    <a routerLink="mis-consultas"><i class="fa-solid fa-pen-to-square"></i> Mis Consultas</a>
                    <a (click)="signut()"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
                  </div>
                </div>

              </ng-template>
            </li>
            <!-- <li>
              <a class=""><i class="fas fa-cart-plus"> </i>ORDENES</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <img class="container__image" [routerLink]="['/']" src="/assets/images/footer/logo.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="" role="button">
        <i class="fa fa-bars" aria-hidden="true" style="color:#283890"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav navegacion" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="index" [ngClass]="{active: isUrlEqualTo('/')}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="atracciones"
            [ngClass]="{active: isUrlEqualTo('/atracciones')}">Atracciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="parques" [ngClass]="{active: isUrlEqualTo('/parques')}">Parques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="promociones"
            [ngClass]="{active: isUrlEqualTo('/promociones')}">Promociones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cumpleanios" [ngClass]="{active: isUrlEqualTo('/cumpleanios')}">Cumpleaños</a>
        </li>
        <li *ngIf="nombre !== 'Ingresar'" class="nav-item">
          <a class="nav-link" routerLink="contacto" [ngClass]="{active: isUrlEqualTo('/cliente/contacto')}"
            [ngClass]="{active: isUrlEqualTo('/contacto')}">
            Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-login-modal></app-login-modal>
