.banner-bio{
    background-color: rgb(40, 56, 144);
    color:aliceblue;
    width: 100%;
    min-height: 80px;
    height: auto;
    padding-top:10px;
  }
  .contenido-banner-bio{
    display: inline-block;
    background: #1774b9;
    padding: 10px 10px;
    transform: skew(0deg, -5deg) translateY(0px);
    color: white;
    font-size: 22px;
    width: 160px;
    top: 110px;
    margin: 8px 20px;
  }