<div class="banner">
  <div class="container">
    <div class="row">
      <h1 class="contenido-banner-bio">Editar Reserva</h1>
    </div>
  </div>
</div>

<div class="container pt-4 pb-4">
  <div>
    <div class="row mt-4">
      <div class="col-md-6">

        <form [formGroup]="editarForm" (ngSubmit)="onSubmit()"> 
          <label for="">Fecha de la Reserva:</label>
          <input class="form-control" type="date" placeholder="Ingrese la Fecha de la Reserva"   formControlName="fechaReserva" name = "fechaReserva" (change)="validandoCambioDeFecha()">
          <div class="form__warning" [ngClass]="{
            'show':
            editarForm.controls['fechaReserva'].errors
          }">
            <p class="warning-text">* Seleccione una fecha válida</p>
          </div>

          <label for="">Hora de la Reserva:</label>
          <select class="form-control" formControlName="hora"  name = "hora">
            <option  value="inicio">Seleccione Hora</option>
            <option *ngFor="let item of horaCadena" [value]="item" >{{ item }}</option>
          </select>
          <div class="form__warning" [ngClass]="{
            'show':
            editarForm.controls['hora'].errors &&
            editarForm.controls['hora'].touched
          }">
            <p class="warning-text">* Seleccione una hora</p>
          </div>

          

          <label for="">Email:</label>
          <input class="form-control" type="email" placeholder="Ingrese su email" formControlName="email" name = "email">
          <div class="form__warning" [ngClass]="{
            'show':
            editarForm.controls['email'].errors
          }">
          <p class="warning-text">* Debe ser un email válido: example@gmail.com</p>
          </div>

          <label for="">Telefono:</label>
          <input  maxlength=9 class="form-control" type="text" placeholder="Ingrese su telefono" formControlName="telefono" name = "telefono">
          <div class="form__warning" [ngClass]="{
            'show':
            editarForm.controls['telefono'].errors
          }">
          <p class="warning-text">* Solo numeros 0-9</p>
          <p class="warning-text">* Caracteres max. 9</p>
          </div>

          <label for="">Tipo de Paquete</label>
          <select class="form-control" formControlName="idPaquete"  name = "idPaquete" #idPaquetes (change)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)">
            <option  value="0">Seleccione paquete</option>
            <option *ngFor="let items of paquetes" [value]="items.idPaquete + ' '+ items.precio">{{ items.descripcion }}</option>
          </select>
             
            <div class="form__warning" [ngClass]="{
            'show':
            editarForm.controls['idPaquete'].errors &&
            editarForm.controls['idPaquete'].touched
          }">
            <p class="warning-text">* Seleccione  un Paquete</p>
          </div>

          <label for="">Cantidad de Persona:</label>
          <input min="15" max="30"  class="form-control" type="number" placeholder="Ingrese su cantidad de persona" formControlName="cantPersonas" name = "cantPersonas" (keyup)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)" (change)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)">
          <div class="form__warning" [ngClass]="{
            'show':
            editarForm.controls['cantPersonas'].errors &&
            editarForm.controls['cantPersonas'].touched
          }">
            <p class="warning-text">* Cantidad de personas minima: 15</p>
          </div>

          <label for="">Acompañante:</label>
          <input min="0" max="15" class="form-control" type="number" placeholder="Ingrese su cantidad de acompañante" formControlName="acompaniante"  name = "acompaniante" (keyup)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)" (change)="onchangeValues(cantidadPersonas ,cantidadAcompaniantes,idPaquetes.value)">
          <div class="form__warning" [ngClass]="{
            'show':
            editarForm.controls['acompaniante'].errors &&
            editarForm.controls['acompaniante'].touched
          }">
            <p class="warning-text">* Cantidad de acompañantes permitido: 0-15</p>
          </div>

          <label for="">Total a Pagar :</label>
          <input type="text" readonly placeholder="" class="form-control" [value]="total" name="total">
          <br>

          <button type="submit" [disabled]="editarForm.invalid" class="btn btn-primary botonRegistrar">GUARDAR RESERVA</button>
          {{" "}}
          <button type="button" class="btn btn-secondary" (click)="clickRegresar()"> Regresar a mis reservas </button> 

             
            <!--{{editarForm.value | json}}-->
        </form>

      </div>
      <div class="col-md-6">
        <app-calendario-reserva></app-calendario-reserva>   
      </div>
</div>
</div>

<br>   

