<div class="banner">
  <div class="container">
    <div class="row">
      <h1 class="contenido-banner-bio">Promociones</h1>
    </div>
  </div>
</div>
<div class="container" style="height:auto">

  <!--Promociones---------------------------------------------->
  <br>
  <div class="container">
    <div class="row">
      <div *ngFor="let promocion of promociones; let i=index" class="col-lg-4 col-md-12  mb-md-0 my-4">
        <!-- <h3>{{ promocion.titulo }}</h3>
        <p> {{ promocion.descripcion }} </p> -->
        <img [src]="promocion.foto" alt="center" class="img-fuid rounded">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

</div>
<div class="parque">
  <div class="center">BENEFICIOS DEL CLUB MR.JOY</div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/images/promociones/promo1.png" alt="" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="/assets/images/promociones/promo2.png" alt="" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="/assets/images/promociones/promo3.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
<br>
