.modal-title{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-headerCrear{
    background-color: #007bff;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    
}
.modal-headerActualizar{
    background-color: #28a745;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
 
}