<body>
  <div class="signup-form">
    <form action="" method="">
      <h1 class="text-center">Registro de Login</h1>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" name="nombre" placeholder="Ingrese Nombre" required="required">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="apellido" placeholder="Ingrese Apellido" required="required">
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="usuario" class="form-control" name="usuario" placeholder="Ingrese Nombre de Usuario"
          required="required">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Ingrese Correo Electronico"
          required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Ingrese Contraseña"
          required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="confirm_password" placeholder="Confirme La Contraseña"
          required="required">
      </div>
      <div class="form-group">
        <label class="form-check-label">
          <input type="checkbox" required="required"> I accept the
          <a href="#">Terminos Y Condiciones</a>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">REGISTRARSE</button>
      </div>
    </form>
  </div>
</body>
