<div class="banner">
  <div class="container">
    <div class="row">
      <h1 class="contenido-banner-bio">Horarios</h1>
    </div>
  </div>
</div>
<div class="container" style="min-height:438px;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="titulo">Recuerda que las cajas cierran 90 minutos antes del cierre de los locales</h1>
    </div>
    <div class="col-lg-4 col-md-12  mb-md-0">
      <div class="contenido-imagen">
        <img src="/assets/images/horario/lima.jpg" alt="">
      </div>

      <div class="contenido">
        <div>
          <h3>Horario Mr Joy Lima</h3>
          <p>
            Lunes a Viernes 09:00 a 21:00
            <br>
            Sábado de 11:00 a 21:00 y Domingo de 11:00 a 19:00
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12  mb-md-0">
      <div class="contenido-imagen">
        <img src="/assets/images/horario/trujillo.jpg" alt="">
      </div>
      <div class="contenido">
        <div>
          <h3>Horario Mr Joy Trujillo</h3>
          <p>
            Lunes a Viernes 09:00 a 21:00
            <br>
            Sábado de 11:00 a 21:00 y Domingo de 11:00 a 19:00
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12  mb-md-0">
      <div class="contenido-imagen">
        <img src="/assets/images/horario/piura.jpg" alt="">
      </div>
      <div class="contenido">
        <div>
          <h3>Horario Mr Joy Piura</h3>
          <p>
            Lunes a Viernes 09:00 a 21:00
            <br>
            Sábado de 11:00 a 21:00 y Domingo de 11:00 a 19:00
          </p>
        </div>
      </div>
    </div>
  </div>
</div>