.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 24px;
    margin-top: 0px !important;
    margin-left: 11px;}

.advanced-pie-legend .legend-items-container .legend-items {
    white-space: nowrap;
    overflow: revert !important;
    padding-top: 100px;
}
    