<main style="margin-top: 35px">
  <div class="container-fluid pt-4">
    <a id="btnNuevoEmpleado" class="btn btn-success float-right my-2" data-bs-toggle="modal"
      data-bs-target="#modalEmpleado" (click)="btnNuevoEmpleado()">
      <i class="ion-plus-round"></i> Nuevo</a>
    <div class="card" style="min-height: 720px">
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tablaEmpleado"
          class="table table-hover table-dark text-light table-responsive-lg table-bordered" style="width: 100%">
          <thead>
            <tr>
              <th colspan="10" class="text-center">LISTA DE EMPLEADOS</th>
            </tr>
            <tr>
              <th class="text-center">Codigo</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Apellido</th>
              <th class="text-center">Dni</th>
              <th class="text-center">Telefono</th>
              <th class="text-center">Correo</th>
              <th class="text-center">Fecha de Nacimiento</th>
              <th class="text-center">Turno</th>
              <th class="text-center">acciones</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let empleado of data">
              <td>{{ empleado.id_empleados }}</td>
              <td>{{ empleado.nombres }}</td>
              <td>{{ empleado.apellidos }}</td>
              <td>{{ empleado.dni }}</td>
              <td>{{ empleado.telefono }}</td>
              <td>{{ empleado.correo }}</td>
              <td>{{ empleado.fechaNacimiento }}</td>
              <td>{{ empleado.turno }}</td>
              <td>
                <a class="btn btn-warning" style='padding:0 10px'><i class="fas fa-pencil-alt"(click)="btnSetEmpleadoModal(empleado)" data-bs-toggle="modal"
                data-bs-target="#modalEmpleado"></i></a>
                <a class="btn btn-danger" style='padding:0 10px'><i class="fas fa-trash-alt" (click)="eliminarEmpleado(empleado.id_empleados)"></i> </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <app-admin-footer></app-admin-footer>
    <!-- Button trigger modal -->
  </div>
  <!--Modal para CRUD-->
  <section class="body-main">
    <div class="modal fade" id="modalEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div *ngIf="isInsert" class="modal-headerCrear">
            <h5  class="modal-title" id="exampleModalLabel">Crear Empleado</h5> 
          </div>
          <div *ngIf="!isInsert" class="modal-headerActualizar">  
            <h5  class="modal-title" id="exampleModalLabel">Actualizar Empleado</h5>
          </div>
          <form (ngSubmit)="formularioEmpleado()">
            <div class="modal-body">
              <div class="form-group">
                <label for="nombres" class="col-form-label">Nombres:</label>
                <input type="text" name="nom"required [(ngModel)]="empleado.nombres" class="form-control" id="nombres">
              </div>
              <div class="form-group">
                <label for="apellidos" class="col-form-label">Apellidos:</label>
                <input type="text" name="ape"required [(ngModel)]="empleado.apellidos"class="form-control" id="apellidos">
              </div>
              <div class="form-group">
                <label for="dni" class="col-form-label">Dni:</label>
                <input maxlength="8" type="text" name="dni"required [(ngModel)]="empleado.dni"class="form-control" id="dni">
              </div>
              <div class="form-group">
                <label for="telefono" class="col-form-label">Telefono:</label>
                <input maxlength="9"  type="text" name="tele"required [(ngModel)]="empleado.telefono" class="form-control" id="telefono">
              </div>
              <div class="form-group">
                <label for="correo" class="col-form-label">Correo:</label>
                <input maxlength="50" type="email" name="cor" required [(ngModel)]="empleado.correo"class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="fechaNacimiento" class="col-form-label">Fecha de Nacimiento:</label>
                <input type="date" name="fecna" required [(ngModel)]="empleado.fechaNacimiento"class="form-control" id="fechaNacimiento">
              </div>
              <div class="form-group">
                <label  for="validationDefault01"class="col-form-label">Turno:</label>
                <input id="validationDefault01"type="text" name="turno"class="form-control" required [(ngModel)]="empleado.turno" >
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="btnCancelar" class="btn btn-light" data-bs-dismiss="modal" (click)="btnCancelarModal()">Cancelar</button>
              <button type="submit" id="btnGuardar" class="btn btn-dark" data-bs-dismiss="modal">  Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="body-main">
    <form id="frmEliminarCliente" action="" method="POST">

      <div class="modal fade" id="modalEliminarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Eliminar Empleado</h4>
            </div>
            <div class="modal-body">
              ¿Esta seguro de eliminar al empleado?<strong data-name=""></strong>


            </div>
            <div class="modal-footer">
              <button type="button" id="btnAceptarEliminar" class="btn btn-primary"
                data-dismiss="modal">Aceptar</button>
              <button type="button" id="btnCancelarEliminar" class="btn btn-default">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
